@media screen and (max-width:568px){
	.contact-btn {
		width: 80%;
		margin-top: 0px;
	}
	.contact-item ul li a {
		margin: 23px 20px;
	}
}
@media screen and (max-width:480px){
	.red-tooltip{
		margin: 0px 3px;
	}
	.safiul-manu ul li a {
		padding: 0px 15px;
	}
	.about-text {
		padding-top: 40px;
	}
	.contact-btn {
		width: 73%;
	}
	.contact-item ul li a {
		margin-left: 65px;
		margin-top: 45px;
		margin-bottom: 0;
	}
	.footer-item p {
		padding-top: 25px;
	}
	
}
@media screen and (max-width:375px){
	.red-tooltip{
		margin: 0px 3px;
	}
	.contact-item ul li a {
		margin-left: 65px;
		margin-top: 45px;
		margin-bottom: 0;
	}
}
@media screen and (max-width:360px){
	.red-tooltip{
		margin: 0px 5px 20px;
	}
	.contact-item ul li a {
		margin: 23px 29px;
	}
}
@media screen and (max-width:320px){
	.red-tooltip{
		margin-bottom: 20px;
	}
	.contact-item ul li a {
		margin: 23px 29px;
	}
	.contact-btn {
		width: 73%;
	}
}